<h1>Chat virtual</h1>

<div class="div">
    <textarea placeholder="mensaje..." id="chatBox" cols="30" rows="10"> 
    </textarea>
   <br>
 <button id="sendButton">Enviar</button>

    <p id="messageLogs"></p>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>